<div>
  <% if(user.email){ %>
  <form class="form-inline" action="/logout" method="POST">
    <a class="navbar-brand">Logged in as: <%=user.email%></a>
    <button type="submit" class="btn btn-secondary">Logout</button>
  </form>
  <% } else{ %>
  <form class="form-inline" action="/login" method="POST">
    <label for="email">Enter your Email:</label>
    <input
      class="form-control"
      type="text"
      name="email"
      placeholder="Email:"
      style="width: 300px; margin: 1em"
    />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
-->
